@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://allfont.net/allfont.css?fonts=digital-7");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.header-buku-tamu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title-header h5 {
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  position: relative;
  left: -30px;
}

.icon-header {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  object-fit: cover;
}

.icon-header img {
  height: 50px;
}

.content {
  width: 100%;
  height: 100%;
  border: 1px solid wheat;
}

.content-form {
  background: linear-gradient(270deg, #ea2626 7.4%, #ffffff 74.08%);
}

.item-menu {
  width: 100%;
  height: 170px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 7.5px;
  font-family: "Poppins";
}

.menu-item i {
  font-size: 18px;
}

.format-tanggal {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.format-tanggal i {
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.format-tanggal span {
  font-weight: 500;
  border-radius: 70px;
  width: 80px;
  height: fit-content;
  position: relative;
  text-align: center;
}

.garis hr {
  border: 1.5px solid white;
  background-color: white;
  width: 100%;
}

.tanggal-hari-ini {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.tanggal-hari-ini i {
  font-size: 20px;
}

.lingkaran {
  height: 261px;
  width: 261px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.jam {
  position: relative;
  font-size: 65px;
  padding: 5px;
  font-family: "Digital-7", arial;
}

.slider-content .ant-menu-light .ant-menu-item-selected {
  color: white;
}

.ant-layout .ant-layout-header {
  background: radial-gradient(
    96.83% 12280.84% at 3.17% 50%,
    #ae1d1d 0%,
    #4e2222 100%
  );
  background-blend-mode: darken;
  box-shadow: 0px 4px 4px #ffffff;
  z-index: 100;
  color: white;
}
