* {
  font-family: "Poppins";
}
.form-input-umum {
  background: linear-gradient(
    90deg,
    #d82323 29.58%,
    rgba(230, 220, 3, 0.26) 204.64%
  );
  border: 1px solid #fdfdfd;
  border-radius: 15px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header-input-umum {
  margin-left: 85px;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 135px;
  top: 775px;
  width: 25%;
  /* margin: 100px 290px 0px 0px; */
}

.footer button {
  padding: 5px;
  border: none;
  background-color: #29d4c0;
  font-size: 12px;
  font-weight: 800;
  color: white;
  border-radius: 7.5px;
  width: 85px;
}

.input-umum {
  margin-top: 5px;
  padding: 7px;
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
}

.input-umum .ant-select-arrow {
  color: black;
  font-size: 15px;
}

.input-umum-more {
  margin-top: 5px;
  padding: 7px;
  display: flex;
  width: 75%;
  height: 25%;
  border: 2px solid white;
  border-radius: 10px;
}

.input-umum-more textarea {
  width: 100%;
  height: 100%;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  resize: none;
}
.input-umum input {
  width: 100%;
  height: 100%;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 14px;
}

.input-umum :focus {
  outline: 0;
}
.input-umum-more :focus {
  outline: 0;
}
.label-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label-title label {
  width: 80%;
  margin-top: 20px;
  position: relative;
  left: 20px;
}

/* .button-form {
  margin: 0px 270px 0px 0px;
  display: flex;
  justify-content: end;
  gap: 20px;
} */

.button-prev,
.button-next-submit {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid white;
}

.body {
  display: flex;
  justify-content: center;
}

/* .button-prev button,
.button-next-submit button {
  padding: 5px;
  border: none;
  background-color: #29d4c0;
  font-size: 12px;
  font-weight: 800;
  color: white;
  border-radius: 10px;
  width: 70px;
} */
