.modal-content .ant-modal-content {
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 5px;
}

.modal-content .ant-modal-title {
  color: white;
}

.modal-content .ant-modal-close-x {
  display: flex;
  justify-content: center;
  position: relative;
  top: -10px;
  left: 10px;
  color: black;
  background-color: white;
  border-radius: 25%;
  padding: 4px;
}

.content-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-modal img {
  width: 100%;
  border-radius: 5px;
}
