.modal-content .ant-modal-content {
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 5px;
}

.modal-content .ant-modal-title {
  color: white;
}

.modal-content .ant-modal-close-x {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
  left: 20px;
  color: black;
  background-color: white;
  border-radius: 50%;
  height: 35px;
  width: 35px;

  padding: 5px;
}

.content-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-modal img {
  width: 100%;
  border-radius: 5px;
}
