.webcam-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 85%;
  height: 100%;
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
}

.hasil-foto {
  border-radius: 10px;
}

.button-webcam {
  border: 2px solid white;
  padding: 10px;
  border-radius: 15px;
}

.button-webcam button {
  border: none;
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: aqua;
}
